
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
         <h1>Listado de Clientes</h1>
        <br/>
        <a th:href="@{/nuevoCliente}">Nuevo cliente</a>
        <br/>
        <div th:if="${clientes != null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${clientes}">
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellidos}"></td>
                    <td th:text="${item.correo}"></td>
                    <td th:text="${item.telefono}"></td>
                    <td><a th:href="@{/modificarCliente/}+${item.idCliente}">Modificar</a></td>
                    <td><a th:href="@{/eliminarCliente/}+${item.idCliente}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
</div>
        <div th:if="${clientes == null or clientes==empty}">
            La lista esta vacía
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
