<html>
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" href="css/login.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="Content">
            <form>
              <h1>Welcome</h1>
              <div class="inset">
              <p>
                <label for="email">EMAIL ADDRESS</label>
                <input type="text" name="email" id="email">
              </p>
              <p>
                <label for="password">PASSWORD</label>
                <input type="password" name="password" id="password">
              </p>
              <p>
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Remember me for 14 days</label>
              </p>
              </div>
              <p class="p-container">
                <span>Forgot password ?</span>
                <input type="submit" name="go" id="go" value="Log in">
              </p>
            </form>
        </div>
    </body>
</html>
